.search--box{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 28pt;
    background: none;
    color: white;
}
.expert--search-box, .expert--province--select{
    font-size: 20pt;
    padding: 10px 10px 10px 10px;
    border-radius: 0%;
}

.uderline--small{
    border-bottom: #075b2f solid 3px; 
}
.left-line--small{
    border-left: #075b2f solid 3px; 
}
.right-line--small{
    border-right: #075b2f solid 3px; 
}

.header {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    width: 30%;
    height: 10px;
    bottom: 0;
    left: 0%;
    border-bottom: 5px solid #075b2f;
}
.box--result{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: 1px solid gray;
}
.btn--view--result{
    width: 100%;
    font-size: 10pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.no-wrap{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.filter--box{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.filter--box h3{
    font-family: sans-serif;  
    margin: 10px 10px 10px 10px;
}
.filter--box a{
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.panel-default{
    margin: 10px 10px 10px 10px;
    padding: 0 0 0 0;
    
}
.panel-heading{
    margin: 10px 0 0 0;
    padding: 10px 0 10px 0;
    background-color: white;
}
.form-filter{
    size: 1000px;
    background: none;
    border: solid #cccccc 1px;
    width: 100%;
    font-size: 12pt;
    color: gray;
}