h2,h1,h3{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    font-weight: normal;
}

.search--box{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 28pt;
    background: none;
    color: white;
}
.expert--search-box, .expert--province--select{
    font-size: 20pt;
    padding: 10px 0px 10px 0px;
    border-radius: 0%;
    background: none;
}

.search--expert{
    padding: 0px 0px 0px 0px;
}
.btn--search--expert{
    font-size: 15pt;   
    margin: 0 0 0 0;
}
.uderline--small{
    border-bottom: #075b2f solid 3px; 
}
.left-line--small{
    border-left: #075b2f solid 3px; 
}
.right-line--small{
    border-right: #075b2f solid 3px; 
}

.header {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    width: 30%;
    height: 10px;
    bottom: 0;
    left: 0%;
    border-bottom: 5px solid #075b2f;
}
.box--result{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: 1px solid gray;
}
.btn--view--result{
    width: 100%;
    font-size: 10pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.no-wrap{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.filter--box{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.filter--box h3{ 
    margin: 10px 10px 10px 10px;
}
.filter--box a{
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.panel-default{
    margin: 5px 0px 5px 0px;
    padding: 0 0 0 0;

}
.panel-heading{
    padding: 2px 0 2px 0;
    background-color: white;
}
.form-filter{
    size: 1000px;
    background: none;
    border: solid #cccccc 1px;
    width: 100%;
    font-size: 12pt;
    color: gray;
}
.panel-body{
    border-left: black solid 1px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
}

.sub-menu{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.sort--by{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
}
.sort--by button{
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    background:  #cccccc;
    text-decoration: none;
}
.sort--by a{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    text-decoration: none;
}